.gallery-container{
	position:relative;
	background-color:gray;
}

.title-text{
	position:relative;
 	color:darkorange;
 	font-family: 'Bebas Neue', cursive;
 	font-weight: lighter;
 	font-size:10vh;
}
