.gallery-container{
	position:relative;
}

.gallery-title{
	margin-top:2%;
	margin-left:2%;
}

.title-text{
	position:relative;
 	color:darkorange;
 	font-family: 'Bebas Neue', cursive;
 	font-weight: lighter;
 	font-size:10vh;
}

.gallery-main{
	position:relative;
	display:flex;
  	justify-content: space-around;
  	margin-top:4%;
}

.gallery{
	height:52vh;
  	width:40vh;
  	border: 4px solid #009cad;
  	border-radius: 18px;
}

.text{
	margin:0px 0px 0px 0px;
	font-weight: lighter;
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.event-name{
	text-align:center;
	font-family: 'Bebas Neue', cursive;
	color:darkorange;
	font-size:5.5vh;
}

.event-date{
	font-family: 'Bebas Neue', cursive;
	color:#009cad;
	font-size:3.5vh;
	text-align:center;
}

.event-desc{
	font-family: 'Montserrat', sans-serif;
	color:#009cad;
	font-size:2vh;
	text-align:center;
	margin-top:2%;
}

.gallery-img{
	position:relative;
	height:50%;
	width:100%;
	object-fit: cover;
	border-radius: 12px;
	margin-bottom:1.5vh;
}

.overlay-wrapper {
 	display:none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.overlay-bg {
	 width: 100%;
	 height: 100%;
	 background-color: #222;
	 opacity: 0.8;
}

.close{
  position:fixed;
  right:10px;
  top:10px;
  z-index:2;
}

.pa-gallery-player-widget{
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:3;
	width:65vw;
	height:55vh;
}